<ion-item-sliding>
  <ion-item class="coin-item">
    <ion-avatar item-start>
      <img [src]="baseUrl + coin.ImageUrl">
    </ion-avatar>
    <h2>{{coin.Name}}</h2>
    <p>{{coin.FullName}}</p>
    <ion-badge *ngIf="price" color="secondary" item-end>$ {{price}}</ion-badge>
  </ion-item>
  <ion-item-options side="right">
    <button ion-button color="secondary" (click)="fetchPrice($event)">
      <ion-icon name="pricetag"></ion-icon>
      Refresh
    </button>
  </ion-item-options>
</ion-item-sliding>